[submodule "cpr"]
	path = cpr
	url = git@github.com:libcpr/cpr.git
[submodule "zxing-cpp"]
	path = zxing-cpp
	url = git@github.com:zxing-cpp/zxing-cpp.git
[submodule "opencv"]
	path = opencv
	url = git@github.com:opencv/opencv.git
[submodule "spdlog"]
	path = spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "json"]
	path = json
	url = git@github.com:nlohmann/json.git
[submodule "libtiff"]
	path = libtiff
	url = https://gitlab.com/libtiff/libtiff.git
[submodule "simpleini"]
	path = simpleini
	url = https://github.com/brofield/simpleini.git
[submodule "mupdf"]
	path = mupdf
	url = git@github.com:ArtifexSoftware/mupdf.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "QCefView"]
	path = QCefView
	url = git@github.com:sxhuangkai/QCefView.git
